<div class="ask-box">
  <h1>Stupid Coaching</h1>
  <p>Ask your Coach anything:</p>

  <form action="answer" data-turbo="false">
    <div class="input-group w-50 d-flex">
      <input class="form-control" type="text" name="question">
      <input class="btn btn-primary" type="submit" value="Ask!">
    </div>
  </form>
</div>
